.header{
  background-color: black;
  color: white;
}
.header__logo{
 margin: 0;
 padding: 0;
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
}
.header__menu{
 display: block;
 padding: 10px;
 margin: 5px;
 background-color: black;
 color: white;
 text-decoration: none;
}
