.header{
  background-color: black;
  color: white;
}
}
.menu__item{
  display: flex;
  align-items: center;
  padding: 10px;
  argin: 5px;
  background-color: white;
  color: gray;
  text-decoration: none;
}
.header__logo-wrap{
 display: flex;
 align-items: center;
 gap: 10px;
}
.header__logo-wrap{
 text-decoration: none;
 color: white;
}
.header__title{
 margin: 0;
}
.menu_item {
display: flex;
 padding: 10px;
 margin: 5px;
 background-color: white;
 color: gray;
 text-decoration: none;
}
