.header{
  background-color: black;
  color: white;
}
.menu{
 margin: 0;
 padding: 0;
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
}
.menu__item{
display: block;
 padding: 10px;
 margin: 5px;
 background-color: white;
 color: gray;
 text-decoration: none;
}
