.header{
  background-color: black;
  color: white;
}
}
.menu__item{
display: inline-block;
 padding: 10px;
 margin: 5px;
 background-color: white;
 color: gray;
 text-decoration: none;
}
.header__logo-wrap{
 display: flex;
 align-items: center;
 gap: 10px;
}
.header__logo-wrap{
 text-decoration: none;
 color: rgb(0, 80, 121);
}
.header__title{
 margin: 0;
}
.menu {
 margin: 0;
 padding: 0;
 list-style-type: none;
 display: flex;
 flex-wrap: wrap;
}
